@use '../../../../styles/color' as *;

.header {
  position: absolute;
  top: 15%;
  max-width: 80%;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: $background;
  color: $textDark;
}