.sources {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 65px;
    align-items: center;
    align-content: start;
    font: 300 1em 'Fira Sans', sans-serif;
    transition: 0.5s;
    overflow: hidden;
}

.source__item {
    box-sizing: border-box;
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

.close-btn {
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 6;
    transition: 0.25s;
}

.close-btn:hover {
    transform: translateY(-0.25em);
}

@media screen and (max-width: 640px) {
    .source__item {
        padding: 3px;
        margin: 4px;
    }
}