.more-sources{
  height: 60px;
  display: flex;
  justify-content: center;
}

.no-display{
  display: none;
}

.sources__opened { 
  position: absolute;
  min-height: 100%;
  height: auto;
  z-index: 5;
  background-color: #000000c0;
  top: 0;
  padding-top: 130px;
}
