.more-sources{
  display: flex;
  justify-content: center;
  text-align: center;
}

.no-display{
  display: none;
}

.sources__opened { 
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  z-index: 5;
  background-color: #000000f0;
  top: 0;
  padding-top: 130px;
}
