$fieldBackgrnd: #c9ba9c;
$buttonsColor: #3c2114;
$borderDark: #291805;
$textDark: $borderDark;
$textGray: #494949;
$textLight: #c0d3d2;
$buttonsHover: #77450c;
$disabledColor: gray;
$background: #c9ba9cdd