@use '../../../../styles/color' as *;
@use '../../../../styles/animations' as *;

$borderDashed: 1px dashed $borderDark;

.wordRow{
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  border: $borderDashed;
  border-radius: 5px;
  background-color: $background;
}

.moving{
  position: absolute;
  animation: cardMoving 0.5s ease-out;
}

.movingReverse{
  position: absolute;
  animation: cardMoving 0.5s reverse;
}

.selected span{
  border: 1px dashed $borderDark;
}

.disabled div {
  border: none;
  border-top: $borderDashed;
  border-bottom: $borderDashed;
  &:hover {
    cursor: default;  
    background-color: $background;
    color: $textDark;
  }
}

.emptyCard {
  border: none;
  margin: 3px;
  background-color: #332a1d65;
  &:hover{
    cursor: default;
    background-color: #332a1d65;
    color: $textDark;
  }
}

.correct {
  transition: all 0.5s;
  box-shadow: 0 0 15px 10px green inset;
}

.incorrect {
  transition: all 0.5s;
  box-shadow: 0 0 15px 10px red inset;
}

.noDisplay {
  display: none;
}