@use '../../../../styles/color' as *;
@use '../../../../styles/animations' as *;

.wordRow{
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  border: 1px dashed $borderDark;
  border-radius: 5px;
  background-color: $background;
}

.moving{
  position: absolute;
  animation: cardMoving 0.5s ease-out;
}

.movingReverse{
  position: absolute;
  animation: cardMoving 0.5s reverse;
}

.selected span{
  border: 1px dashed $borderDark;
}
