@import './color.css';


/* TODO kill scroll */
.body{
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: var(--background);
  display: flex;
  border: 10px solid var(--borderPage);
  box-shadow: 0 0 100px 30px var(--shadow) inset;
}

::-webkit-scrollbar{
  display: none;
}

* {
  box-sizing: border-box;
}

:root {
  --textSize: 2.5rem;
  --textKeySize: 3rem;
  --textCardSize: 3rem;
}