@import './color.css';


/* TODO kill scroll */
.body{
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

::-webkit-scrollbar{
  display: none;
}

* {
  box-sizing: border-box;
}