@import './color.css';


/* TODO kill scroll */
.body{
  width: 100vw;
  min-width: min-content;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--background);
  display: flex;
  border: 10px solid var(--borderPage);
  box-shadow: 0 0 100px 30px var(--shadow) inset;
}

::-webkit-scrollbar{
  display: none;
}

* {
  box-sizing: border-box;
}

:root {
  --textSize: 2rem;
  --textKeySize: 2.5rem;
  --textCardSize: 2.5rem;
  --titleSize: 2rem;
}

@media screen and (max-width: 1200px) {
  :root {
    --textSize: 1.5rem;
    --textKeySize: 2rem;
    --textCardSize: 2rem;
    }
}

@media screen and (max-width: 1024px) {
  :root {
    --textSize: 1.5rem;
    --textKeySize: 1.5rem;
    --textCardSize: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
  .body{
    padding: 10px;
  }
  :root {
    --textSize: 1rem;
    --textKeySize: 1rem;
    --textCardSize: 1rem;
    --titleSize: 1rem;
    }
}

@media screen and (max-width: 500px) {
  .body{
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 5px;
  }
}
