
.container{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallow{
  width: 50%;
  height: 70%;
  position: relative;
  background-color: var(--background);
  border: 1vw solid var(--gallow);
  border-right-width: 0.3vw;
}

.shadow{
  width: 100%;
  box-shadow: 0 20px 20px 10px var(--shadow);
}

.manWrap{
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%);
  background-color: var(--background);
}

.title{
  display: block;
  font-size: 3rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  color: var(--textDark);
}