
.container{
  position: relative;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallow{
  --borderLineBold: 20px;
  --borderLineThin: 5px;
  width: 50%;
  height: 70%;
  position: relative;
  border: var(--borderLineBold) solid var(--gallow);
  border-right-width: var(--borderLineThin);
}

.shadow{
  width: 100%;
  box-shadow: 0 20px 20px 10px var(--shadow);
}

.manWrap{
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%);
  background-color: var(--background);
}

.title{
  display: block;
  font-size: var(--titleSize);
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  color: var(--textDark);
}

@media screen and (max-width: 1024px) {
  .title{
    margin: 0.3rem;
  }
}

@media screen and (max-width: 768px) {
  .gallow{
    --borderLineBold: 10px;
    --borderLineThin: 2px;
    }
}

@media screen and (max-width: 500px) {
  .gallow{
    width: 30%;
    height: 20cqh;
  }
  .title{
    display: none;
  }
}
