.wordWrap{
  width: 100%;
  height: calc(var(--textCardSize) + 1.25rem);
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
}

.hintWrap{
  height: 100%;
  width: 100%;
}

.hint{
  width: 100%;
  margin: 5px;
  text-align: center;
  font-size: var(--textSize);
}

.charCard{
  height: calc(var(--textCardSize) + 1.25rem);
  border: 2px solid var(--border);
  background-color: var(--card);
  border-radius: 10px;
  transition: 0.5s linear;
  color: var(--textLigth);
  font-family: monospace;
  display: flex;
  align-items: center;
}

.charText{
  margin: 5px;
  text-align: center;
  font-size: var(--textCardSize);
  user-select: none;
}

.hidden{
  height: 0;
  color: transparent;
}

.countWrap{
  height: 100%;
  width: 100%;
  font-size: var(--textSize);
  display: flex;
  justify-content: center;
  align-items: center;
}

.countText{
  color: var(--textDark);
}

.countValue{
  color: var(--accent);
}

@media screen and (max-width: 1024px) {
  .charCard{
    border-radius: 8px;
  }
}

@media screen and (max-width: 768px) {
  .charCard{
    border-radius: 5px;
  }
}
