
.container{
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: 2fr 1fr 1fr 3fr;
}

.quizWordWrap{
    height: 100%;
    width: 100%;
    padding: 10px;
}

.hintWrap{
  display: flex;
  align-items: center;
  width: 100%;
}

.countWrap{
  /* FOR TEST */
  border: 2px solid red;
    height: 100%;
    width: 100%;
}

.keyboardWrap{
  display: flex;
  align-items: center;
}
