.controlls {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: 0.5s;
}

.controlls__fieldset {
  display: flex;
  gap: 5px;
  border: 2px solid #30c5ff;
  font: inherit;
}

.categories__title{
  color: #70d6ff;
}

.categories__name{
  flex-basis: 100%;
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  text-align: center;
  line-height: 1;
  margin: 5px;
  padding: 0.2em;
  color: #70d6ff;
  cursor: pointer;
  text-transform: capitalize;
  transition: 0.25s;
}

.categories__name:hover,
.categories__name:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}


.categories__name:has(.categories__radio:checked){
  border-color: #3fcc59;
  color: #69db7e;
}

.categories__radio {
  display: none;
}

.burger_btn {
  width: 30px;
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 4;
}

.controlls_active {
  right: 0;
}

@media screen and (max-width: 980px) {
  .controlls{
    position: absolute;
    min-height: 100%;
    right: -110%;
    padding-top: 60px;
    justify-content: start;
    background-color: #17181c;
  }

  .categories__name {
    flex-basis: auto;
  }

  .controlls__fieldset {
    flex-wrap: wrap;
  }

  .controlls_active {
    right: 0;
  }

  .burger_btn{
    display: flex;
  }
}