.search__form {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.search__fieldset {
  grid-column: span 2;
  border: 2px solid #30c5ff;
  margin: 0;
}

.search__input,
.search__btn-submit {
  background: #80808022;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  padding: 0.2em 0.5em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: text;
}

.search__btn-submit {
  cursor: pointer;
}

.search__input::placeholder {
  color: #70d6ff7c;
}

.search__input:focus,
.search__btn-submit:focus,
.search__input:hover,
.search__btn-submit:hover {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.search__btn-submit{
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .header__inner {
    flex-basis: 100%;
    flex-shrink: 0;
  }
}