@use '../../../../../styles/color' as *;

.input {
  height: 2rem;
  background-color: $fieldBackgrnd;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: $textDark;

  &:hover,
  &:focus {
    border: 2px solid $borderDark;
    cursor: pointer;
  }
  &::placeholder {
    color: $textGray;
  }
}