.garage {
  display: flex;
  flex-direction: column;
  padding: 10px;
  
  .btnsRow {
    padding-bottom: 5px;
  }
}

.track {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 10px 0;
  border-bottom: 10px dashed white;

  .flag {
    position: absolute;
    top: 0;
    right: 100px;
    height: 50px;
  }
}