@use '../../../../styles/animations' as *;

.continueBtn{
  min-height: 50px;
  min-width: 180px;
  margin: 20px 0;
  padding: 10px 30px;
  animation: scaling 0.5s both;
  &:disabled {
    display: none;
  }
}
