.section_fixed{
  position: fixed;
}

.burger-btn{
  width: 44px;
  height: 44px;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  position: relative;
  display: none;
  cursor: pointer;
  transition: 0.5s all;
}

@media (hover: hover){
  .burger-btn:hover{
    scale: 1.1;
  }
}

.burger-btn__line{
  width: 16px;
  border: 1px solid var(--border-dark);
  border-radius: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  transition: 0.5s all;
}

.burger-btn__line:first-child{
  top: 17px;
}

.burger-btn__line:last-child{
  bottom: 17px;
}

.header__menu{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

/* Burger styles start */

@media screen and (max-width: 768px) {

  .header__menu{
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    top: 80px;
    left: 120vw;
    justify-content: start;
    gap: 85px;
    padding: 0;
    width: 0;
    min-height: 100vh;
    background-color: var(--background-body);
    z-index: 9;
    font-size: 32px;
    line-height: 105%;
    transition: 0.5s all;
  }

  .header__menu_visible{
    width: 100vw;
    padding: 80px 40px 60px 40px;
    left: 0;
  }
  .header__menu .nav-list{
    flex-direction: column;
    gap: 54px;
  }

  .header__menu .nav{
    display: initial;
  }

  .header__menu .menu-btn-wrap{
    display: flex;
  }

  /* .header__wrap_burger .logo{
    position: absolute;
    top: 20px;
    left: 40px;
  }

  .header__wrap_burger .burger-btn{
    position: absolute;
    top: 28px;
    right: 40px;
  } */

  .header__menu .menu-btn__text::after{
    content: url(../img/svg/coffee-cup-large.svg);
    padding-left: 16px;
    top: 9px;

  }

  .burger-btn_active .burger-btn__line{
    inset: 50%;
    left: 33%;
  }

  .burger-btn_active .burger-btn__line:first-child{
    transform: rotate(45deg);
  }

  .burger-btn_active .burger-btn__line:last-child{
    transform: rotate(-45deg);
  }

  /* Burger styles end */

  /* Media start */


  .burger-btn{
    display: initial;
  }

}

@media screen and (max-width: 380px) {

  .header__wrap_burger .logo{
    position: absolute;
    top: 20px;
    left: 16px;
  }
  
  .header__wrap_burger .burger-btn{
    position: absolute;
    top: 28px;
    right: 16px;
  }
  
}

/* Media end */

