.burger-btn{
  width: 44px;
  height: 44px;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  position: relative;
  display: none;
  cursor: pointer;
  transition: 0.5s all;
}

@media (hover: hover){
  .burger-btn:hover{
    scale: 1.1;
  }
}

.burger-btn__line{
  width: 16px;
  border: 1px solid var(--border-dark);
  border-radius: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  transition: 0.5s all;
}

.burger-btn__line:first-child{
  top: 18px;
}

.burger-btn__line:last-child{
  bottom: 18px;
}

/* Burger styles start */

.header__wrap_burger{
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: start;
  gap: 85px;
  padding: 160px 40px 60px 40px;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-body);
  z-index: 10;
  font-size: 32px;
  line-height: 125%;
}

.header__wrap_burger .nav-list{
  flex-direction: column;
  gap: 54px;
}

.header__wrap_burger .nav{
  display: initial;
}

.header__wrap_burger .menu-btn-wrap{
  display: flex;
}

.header__wrap_burger .logo{
  position: absolute;
  top: 20px;
  left: 40px;
}

.header__wrap_burger .burger-btn{
  position: absolute;
  top: 28px;
  right: 40px;
}

.header__wrap_burger .menu-btn__text::after{
  content: url(../img/svg/coffee-cup-large.svg);
  padding-left: 16px;
  top: 9px;

}

.header__wrap_burger .burger-btn__line{
  inset: 50%;
  left: 14px;
}

.header__wrap_burger .burger-btn__line:first-child{
  transform: rotate(45deg);
}

.header__wrap_burger .burger-btn__line:last-child{
  transform: rotate(-45deg);
}

/* Burger styles end */

/* Media start */

@media screen and (max-width: 768px) {

  .burger-btn{
    display: initial;
  }

}

@media screen and (max-width: 380px) {

  .header__wrap_burger .logo{
    position: absolute;
    top: 20px;
    left: 16px;
  }
  
  .header__wrap_burger .burger-btn{
    position: absolute;
    top: 28px;
    right: 16px;
  }
  
}

/* Media end */

