/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

*, *::after, *::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


:root{
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  --text-dark: #403F3D;
  --text-accent: #B0907A;
  --text-ligth: #E1D4C9;
  --background-body: #E1D4C9;
  --background-container: #665F55;
  --background-backdrop: #403F3DCC;
  --border-ligth: #C1B6AD;
  --border-dark: #665F55;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

button{
  background-color: transparent;
  border: none;
}

.body{
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--background-body);
  padding: 20px 0 40px 0;
}

.wrapper{
  padding: 0 40px;
}

.section{
  padding-bottom: 100px;
}

.section__title{
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-dark, #403F3D);
}

.section__title_accent{
  color: var(--text-accent, #B0907A);
}

.section__title_align-center{
  text-align: center;
}

.section__title_ligth{
  color: var(--text-ligth);
}

/* Header styles start */

.header{
  padding-bottom: 20px;
}

.header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link{
  display: flex;
}

.logo__link_disabled{
  cursor: default;
}

.nav-list{
  display: flex;
  gap: 40px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-list__link, .menu-btn{
  color: var(--text-dark);
  font-weight: 600;
}


.nav-list__line{
  width: 0;
  height: 2px;
  margin-top: 4px;
  background: var(--text-dark);
  transition: 0.5s all;
}

.menu-btn__text::after{
  content: url(../img/svg/coffee-cup.svg);
  position: relative;
  top: 3px;
  padding-left: 8px;
}

.menu-btn-wrap, .nav-list__item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (hover: hover) {
  .menu-btn-wrap:hover .nav-list__line,
  .nav-list__item:hover .nav-list__line,
  .menu-btn:focus + .nav-list__line,
  .nav-list__link:focus + .nav-list__line{
      width: 100%;
  }
}

.burger-btn{
  width: 44px;
  height: 44px;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  position: relative;
  display: none;
}

.burger-btn__line{
  width: 16px;
  border: 1px solid var(--border-dark);
  border-radius: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.burger-btn__line:first-child{
  top: 18px;
}

.burger-btn__line:last-child{
  bottom: 18px;
}

/* Header styles end */

/* Intro styles start */

.intro-background{
  max-width: 100%;
  padding: 100px;
  border-radius: 40px;
  background: url(../img/intro-pic.png), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro-content{
  display: flex;
  max-width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.intro-content__title{
  margin: 0;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: var(--text-ligth);
}

.intro-content__title_accent{
  color: var(--text-accent);
}

.intro-content__desc{
  font-weight: 400;
  line-height: 150%;
  color: var(--text-ligth);
}

.button-primary{
  display: flex;
  width: 200px;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-body)
}

.button-primary__text{
  color: var(--text-dark, #403F3D);
  text-align: center;
  font-weight: 600;
  line-height: 150%;
  transform: translateX(14px);
  transition: 0.5s all;
}

.button-primary__ico{
  width: 20px;
  height: 20px;
  background: url(../img/svg/coffee-cup.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position: right;
  opacity: 0;
  transition: 0.5s all;
}

@media (hover: hover){
  .button-primary:hover .button-primary__ico,
  .button-primary:focus .button-primary__ico{
      opacity: 1;}

  .button-primary:hover .button-primary__text,
  .button-primary:focus .button-primary__text{
    transform: translateX(0);
  }
}

/* Intro styles end */

/* Favorites styles start */

.slider__wrap{
  width: 100%;
  padding: 40px 0;
  display:flex;
  gap: 40px;
  align-items: center;
}

.slider__btn {
  height: 60px;
  width: 60px;
  margin: 4px;
  border-radius: 50%;
  border: 1px solid var(--border-dark);
  cursor: pointer;
  transition: 0.5s all;
  flex-shrink: 0;
}

.slider__btn_left{
  background: url(../img/svg/arrow-left.svg) no-repeat center;
}

.slider__btn_rigth{
  background: url(../img/svg/arrow-right.svg) no-repeat center;
}

@media (hover: hover){

  .slider__btn_left:hover,
  .slider__btn_left:focus{
      background:url(../img/svg/arrow-left-ligth.svg) var(--background-container) no-repeat center;
  }

  .slider__btn_rigth:hover,
  .slider__btn_rigth:focus{
      background: url(../img/svg/arrow-right-ligth.svg) var(--background-container) no-repeat center;
  }

}

.slider__display-area{
  width: 100%;
  overflow: hidden;
}

.slider__content{
  display: flex;
}

.slider__item{
  width: 100%;
  flex-shrink: 0;
}

.slide{
  max-width: 480px;
  margin: 0 auto;
}

.slide__pic{
  padding-bottom: 20px;
}

.slide__desc-wrap{
  text-align: center;
  color: var(--text-dark);
}

.slide__title{
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  padding-bottom: 16px;
}

.slide__desc{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 16px;
}

.slide__price{
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.slider__controls-wrap{
  display: flex;
  gap: 12px;
  justify-content: center;
}

.slider__control{
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--border-ligth);
}

.slider__control_active{
  background-color: var(--border-dark);
}

/* Favorites styles end */

/* About styles start */

.about__title{
  padding-bottom: 40px;
}

.photos{
  max-width: 100%;
  height: 1060px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.photos__item-wrap{
  max-width: calc(50% - 20px);
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.photos__item{
  scale: 1.1;
  transition: 0.5s;
}

@media (hover: hover){
    .photos__item:hover{
    scale: 1;
  }
}
.photos__item-wrap_size_l{
  height: 590px;
}

.photos__item-wrap_size_m{
  height: 430px;
}

/* About styles end */

/* Mobile-up start */

.mobile-up__wrapper{
  display: flex;
  justify-content: space-between;
}

.mobile-up__content{
  width: calc(50% - 50px);
  height: 630px;
}

.mobile-up__desc-wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 40px;
}

.mobile-up__desc{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-dark);
}

.mobile-up__btn-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.btn-app{
  display: flex;
  gap: 8px;
  width: 200px;
  height: 64px;
  padding: 12px 20px;
  border: 1px solid var(--border-dark);
  border-radius: 32px;
  color: var(--text-dark);
  transition: 0.5s all;
  cursor: pointer;
}

.btn-app__ico{
  width: 36px;
  height: 36px;
  transition: 0.5s all;
}

.btn-app__ico_app-store{
  background: url(../img/svg/apple.svg);
}

.btn-app__ico_google-play{
  background: url(../img/svg/google-play.svg);
}

.btn-app__desc{
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.btn-app__title{
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.btn-app__text-wrap{
  display: flex;
  flex-direction: column;
  gap: 2px;
}


@media (hover: hover){

  .btn-app:hover .btn-app__ico_app-store,
  .btn-app:focus .btn-app__ico_app-store{
      background: url(../img/svg/apple-ligth.svg);
  }

  .btn-app:hover .btn-app__ico_google-play,
  .btn-app:focus .btn-app__ico_google-play{
      background: url(../img/svg/google-play-ligth.svg);
  }

  .btn-app:hover,
  .btn-app:focus{
    background-color: var(--background-container);
    color:var(--text-ligth);
  }

}

/* Mobile-up end */

/* Footer styles start */

.footer{
  margin: 0 40px;
}

.footer__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 100px;
  border-radius: 40px;
  background-color: var(--background-container);
}

.footer__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.socies-list{
  list-style: none;
  display: flex;
  gap: 12px;
}

.socies-list__item{
  width: 60px;
  height: 60px;
}

.socies-list__link{
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  border-radius: 50%;
  border: 1px solid  var(--border-ligth);
  transition: 0.5s all;
}

@media (hover: hover){

  .socies-list__link:hover,
  .socies-list__link:focus{
      background-color: var(--background-body);
  }

}

.socies-list__link_twitter{
  background-image: url(../img/svg/twitter.svg);
}

.socies-list__link_instagram{
  background-image: url(../img/svg/instagram.svg);
}

.socies-list__link_facebook{
  background-image: url(../img/svg/facebook.svg);
}

@media (hover: hover){

  .socies-list__link_twitter:focus,
  .socies-list__link_twitter:hover{
    background-image: url(../img/svg/twitter-dark.svg);
  }

  .socies-list__link_instagram:focus,
  .socies-list__link_instagram:hover{
    background-image: url(../img/svg/instagram-dark.svg);
  }

  .socies-list__link_facebook:hover,
  .socies-list__link_facebook:focus{
    background-image: url(../img/svg/facebook-dark.svg);
  }

}

.footer__content_title{
  color: var(--text-light, #E1D4C9);
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.contacts{
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.contacts__item{
  position: relative;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__link{
  color: var(--text-light, #E1D4C9);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding-bottom: 4px;
}

.contacts__link::before{
  object-fit: cover;
  object-position: center;
  display: inline-block;
  width: 28px;
  height: 20px;
  padding-right: 8px;
}

.contacts__link_pin-alt::before{
  content: url(../img/svg/pin-alt.svg);
}

.contacts__link_phone::before{
  content: url(../img/svg/phone.svg);
}

.contacts__link_clock::before{
  content: url(../img/svg/clock.svg);
}

.contacts__line{
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 2px;
  background: var(--text-ligth);
  transition: 0.5s all;
}

@media (hover: hover){

  .contacts__item:hover .contacts__line,
  .contacts__link:focus + .contacts__line{
    width: 100%;
  }

}

/* Footer styles end */

/* Burger styles start */

.header__wrap_burger{
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: start;
  gap: 85px;
  padding: 160px 40px 60px 40px;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-body);
  z-index: 10;
  font-size: 32px;
  line-height: 125%;
}

.header__wrap_burger .nav-list{
  flex-direction: column;
  gap: 54px;
}

.header__wrap_burger .nav{
  display: initial;
}

.header__wrap_burger .menu-btn-wrap{
  display: flex;
}

.header__wrap_burger .logo{
  position: absolute;
  top: 20px;
  left: 40px;
}

.header__wrap_burger .burger-btn{
  position: absolute;
  top: 28px;
  right: 40px;
}

.header__wrap_burger .menu-btn__text::after{
  content: url(../img/svg/coffee-cup-large.svg);
  padding-left: 16px;
  top: 9px;

}

.header__wrap_burger .burger-btn__line{
  inset: 50%;
  left: 14px;
}

.header__wrap_burger .burger-btn__line:first-child{
  transform: rotate(45deg);
}

.header__wrap_burger .burger-btn__line:last-child{
  transform: rotate(-45deg);
}

/* Burger styles end */

/* Media start */

@media screen and (max-width: 768px) {
  .nav,
  .menu-btn-wrap{
    display: none;
  }

  .burger-btn{
    display: initial;
  }

  .intro-background{
    padding: 100px 60px;
  }

  .button-primary__ico{
    opacity: 1;
  }
  
  .button-primary__text{
    transform: translateX(0);
  }
  
  .slider__btn{
    margin: 0;
  }

  .photos{
    height: auto;
  }

  .photos__item-wrap{
    min-width: 100%;
  }

  .photos__item-wrap:nth-child(3),
  .photos__item-wrap:nth-child(2){
    display: none;
  }

  .photos__item{
    scale: 1.05;
  }

  .mobile-up__wrapper{
    flex-wrap: wrap;
    gap: 100px;
  }

  .mobile-up__content{
    width: 100%;
    height: auto;
  }

  .mobile-up__pic{
    display: block;
    margin: 0 auto;
  }

  .footer__wrapper{
    padding: 100px 60px;
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .contacts{
    gap: 12px;
  }
}

@media screen and (max-width: 450px) {
  .intro-content__title{
    font-size: 42px;
    line-height: 115%;
  }

  .section__title{
    font-size: 32px;
    line-height: 125%;
  }
}

@media screen and (max-width: 380px) {
  .wrapper{
    padding: 0 16px;
  }

  .intro-background{
    padding: 60px 16px;
  }

  .slider__btn{
    display: none;
  }

  .photos__item{
    height: 100%;
    object-fit: cover;
    scale: 1.23;
  }

  .mobile-up__wrapper{
    gap: 40px;
  }

  .footer{
    margin: 0 16px;
  }

  .footer__wrapper{
    padding: 60px 16px;
    gap: 40px;
  }

  .header__wrap_burger .logo{
    position: absolute;
    top: 20px;
    left: 16px;
  }
  
  .header__wrap_burger .burger-btn{
    position: absolute;
    top: 28px;
    right: 16px;
  }
  
}

/* Media end */