.list {
  margin: 10px;
  height: 100%;
  width: 32%;
  border: 1px solid black;

  .active::marker {
    color: green;
    font-size: 24px;
  }

  .offline::marker {
    color: red;
    font-size: 24px;
  }
}
