@import "~normalize.css";
@import "./form-themes.css";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 30px;
  gap: 30px;
  background-color: var(--background, #cfcfcf);
  user-select: none;
  color: var(--text-color, #000);
  transition: color 1s linear;
  transition: background 1s linear;
}

button{
  background-color: transparent;
  border: none;
}

.field_wrap {
  flex-grow: 1;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control_wrap {
  flex-grow: 0;
  max-height: 100%;
  flex-basis: 40%;
  display: flex;
  align-items: center;
}