.container {
  width: 100%;
  max-width: 100cqh;
  display: grid;
  grid-template-areas: ". header-field"
                       "aside-field field";
}

.container_easy{
  grid-template-columns: 3fr 5fr;
  grid-template-rows: 3fr 5fr;
  font-size: 2rem;

}
.container_normal{
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  font-size: 2rem;
}
.container_hard{
  grid-template-columns: 8fr 15fr;
  grid-template-rows: 8fr 15fr;
  font-size: 2rem;
}

.field {
  grid-area: field;
  border: 5px solid var(--border-dark, #000000);
  display: grid;
}

.field_hard {
  grid-template: repeat(15, 1fr) / repeat(15, 1fr);
}

.field_normal {
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.field_easy {
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

.unit {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border: 1px solid var(--border-dark, #000000);
}

[data-black = "true"] {
  background-color: var(--cell-black, #000000);
}

[data-crossed = "true"]{
  background-color: #888888;
}

.header_field {
  border: 5px solid var(--border-dark, #000000);
  border-bottom: 0;
  display: flex;
  grid-area: header-field;
}

.aside_field {
  border: 5px solid var(--border-dark, #000000);
  border-right: 0;
  display: flex;
  flex-direction: column;
  grid-area: aside-field;
}

.clue_row {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  background-color: var(--background-clue, #aaaaaa);
}

.aside_field .clue_row:nth-child(5n),
.field_hard .unit:nth-child(n+61):nth-child(-n+75),
.field_hard .unit:nth-child(n+136):nth-child(-n+150),
.field_normal .unit:nth-child(n+41):nth-child(-n+50)
{
  border-bottom: 5px solid var(--border-dark, #000000);
}

.header_field .clue_row{
  flex-direction: column;
  flex-basis: 100%;
}

.header_field .clue_row:nth-child(5n),
.field .unit:nth-child(5n) {
  border-right: 5px solid var(--border-dark, #000000);
}
