.container {
  width: 100%;
  max-width: 100cqh;
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: 3fr 5fr;
  grid-template-areas: ". header-field"
                       "aside-field field";
  font-size: 2rem;
}

.field {
  grid-area: field;
  border: 5px solid var(--border-dark);
  display: grid;
}

.field-hard {
  grid-template: repeat(15, 1fr) / repeat(15, 1fr);
}

.field-normal {
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.field_easy {
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

.unit {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border: 1px solid var(--border-dark);
}

.black {
  background-color: var(--border-dark);
}

.header_field {
  border: 5px solid var(--border-dark);
  border-bottom: 0;
  display: flex;
  grid-area: header-field;
}

.aside_field {
  border: 5px solid var(--border-dark);
  border-right: 0;
  display: flex;
  flex-direction: column;
  grid-area: aside-field;
}

.clue_row {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  background-color: var(--background-clue-light);
}

.header_field .clue_row {
  flex-direction: column;
}

.unit span {
}

.aside_field .clue_row .unit {
  
}