.backdrop {
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
}

.modale {
  width: 80%;
  height: 60%;
  padding: 5%;
  background-color: var(--background, #fff);
  font-size: var(--text-size-m, 2rem);
  position: relative;
  z-index: 10;
}

.level_form {
  display: flex;
  justify-content: space-around;
  position:relative;
}

.form_title {

}

.btn_level {
  display: none;
}

.label_level {

}

.sketchs_wrap{
  display: none;
}
.btn_level:checked + .label_level .sketchs_wrap {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: absolute;
  top:100%;
  left:10%;
}

.sketch {
  min-width: 10cqw;
  aspect-ratio: 1;
}

.modale_text {

}

.close_btn {
  position: absolute;
  top: 2%;
  right: 2%;
  height: 10%;
}

.close_btn div {
  top: 0;
}

.table_win{
  width: 100%;
  border: 1px solid var(--border-dark, #000000);
}