.backdrop {
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
}

.modale {
  width: 80%;
  height: 60%;
  padding: 50px;
  background-color: var(--background, #fff);
  font-size: var(--text-size-m, 2rem);
  position: relative;
  z-index: 10;
}

.level_form {
  display: flex;
  justify-content: space-around;
  position:relative;
}

.form_title {

}

.btn_level {
  display: none;
}

.btn_level:checked + .label_level {
  font-weight: 700;
}

.label_level {
  border-radius: 5px;
  background-color: var(--background-clue, #aaaaaa);
}

.sketchs_wrap{
  display: none;
}
.btn_level:checked + .label_level .sketchs_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: absolute;
  top:200%;
  left:0;
}

.sketch {
  min-width: 12cqw;
  aspect-ratio: 1;
  transition: 0.5s;
}

.modale_text {
  width: 100%;
  text-align: center;
  font-size: var(--text-size-l);
}

.close_btn {
  position: absolute;
  top: 1%;
  right: 1%;
  height: 50px;
}

.close_btn div {
  top: 0;
}

.table_win{
  margin: 50px 0;
  width: 100%;
  border: 1px solid var(--border-dark, #000000);
  text-align: center;
  font-size: var(--text-size-m);
}

@media (hover:hover) {
  .label_level:hover span {
    color: var(--text-hover);
  }

  .sketch:hover {
    scale: 1.1;
  }
}

@media screen and (max-width: 800px) {
  .sketch * {
    border-width: 0px;
  }

  .sketchs_wrap {
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .sketch {
    min-width: 15cqw;
  }

  .modale_text {
    max-width: 100% ;
    width: 100%;
    font-size: var(--text-size-m);
  }  
}