/* ubuntu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ubuntu-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/ubuntu-v20-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/ubuntu-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/ubuntu-v20-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  --text-size-l: 36px;
  --text-size-m: 28px;
  --text-size-s: 18px;
}

@media screen and (max-width: 1200px) {
  :root {
    --text-size-l: 32px;
    --text-size-m: 24px;
    --text-size-s: 16px;
    }
}

@media screen and (max-width: 800px) {
  :root {
    --text-size-l: 28px;
    --text-size-m: 20px;
    --text-size-s: 12px;
    }
}

.light {
  --background: #ffffff;
  --background-clue: #909090;
  --border-dark: #000;
  --text-hover: #636363;
  --text-color: #000;
}
.dark {
  --background: #484848;
  --background-clue: #302b28;
  --border-dark: #b3b3b3;
  --text-hover: #9b9b9b;
  --text-color: #dddddd;
}
.warm {
  --background: #e4c9ad;
  --background-clue: #aaa5a5;
  --border-dark: #000000;
  --text-hover: #413028e8;
  --text-color: #322f2a;
}
.cold {
  --background: #b2c7e9;
  --background-clue: #5e8393;
  --border-dark: #000;
  --text-hover: #264961;
  --text-color: #182c2e;
}

